/* Import Google Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.05s;
    --catchphrase-size: 3rem;
    --hero-text-width: 30rem;
    --padding-top: 3rem;
}
/* Variables end */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    /* The z-index property with the value of 1 makes sure the navbar displays over any other element on the web page */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    /*  shadow to the bottom of the navbar with the box-shadow property. */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Make elements of the top navbar to be horizontally aligned */
nav ul {
    display: flex;
    gap: 1.9rem;
}

nav a {
    font-size: 1.25em;
    text-decoration: none;
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color) !important;
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color);
}

nav a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

.hero {
    display: flex;
    
    /* Horizontal items */
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero-img {
    padding-top: var(--padding-top);
}

.hero-img img {
    height: 32rem;
    width: 32rem;
    box-shadow: 0px 5px 8px var(--primary-shadow);
}

.hero-text {
    /* Vertical items */
    align-items: normal;
}

.catchphrase {
    width: var(--hero-text-width);
}

.catchphrase h1 {
    font-size: var(--catchphrase-size);
    color: var(--primary-color);
}

.bio {
    width: var(--hero-text-width);
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio b {
    color: var(--primary-color);
}

.more-about {
    padding-top: var(--padding-top);
    background-color: var(--bg-color);
}
  
.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
  
.more-about p {
    line-height: var(--line-height);
    width: 75%;
    text-align: justify;
    padding: 0rem 12rem;
}

.more-about a {
    text-decoration: none;
    color: black;
}

.socials {
    padding-top: 1.5rem;
    text-align: center;
}

.socials-icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 10px;
}